---
import { getRelativeLocaleUrl } from "astro:i18n";
import ChevronDown from "./icons/ChevronDown.astro";
import Languages from "./icons/Languages.astro";
import SelectContent from "./ui/select/SelectContent.astro";
import SelectItem from "./ui/select/SelectItem.astro";
import SelectRoot from "./ui/select/SelectRoot.astro";
import SelectTrigger from "./ui/select/SelectTrigger.astro";
import Copy from "./icons/Copy.astro";

const currentLocale = Astro.currentLocale;
const languages = [
	{ label: "english", url: getRelativeLocaleUrl("en", "") },
	{ label: "français", url: getRelativeLocaleUrl("fr", "") },
];

const currentLanguage = currentLocale === "fr" ? "français" : "english";

const { ...rest } = Astro.props;
---

<header
	{...rest}
	class="w-full max-w-[calc(100%-40px)] z-10 mx-auto md:max-w-2xl mt-5 md:mt-36 relative isolate">
	<div class="flex justify-between items-center">
		<p class="text-xl font-cursive text-heading">Othmane</p>

		<div class="flex items-center gap-3">
			<button
				id="4bslnEILZE99V1gYGe2xr"
				type="button"
				aria-label={currentLanguage === "français"
					? "copié email"
					: "copy email"}
				class="border border-border/30 h-[33px] md:h-[42px] bg-card px-3 py-2 rounded-lg text-sm ml-auto flex group gap-1 items-center ease-in duration-100 transition-colors hover:cursor-pointer">
				<Copy class="size-3.5 group-hover:text-focus-hover" />
				<p
					id="OviQEPLyQxhBFiAN8b6IB"
					class="text-sm md:text-base group-hover:text-focus-hover">
					email
				</p>
			</button>
			<SelectRoot
				class={"relative isolate z-10"}
				selectLabel="language switcher select"
				id={"LC8M_xs21q0qFHjw2XhBi0z9"}>
				<SelectTrigger
					aria-label={currentLanguage === "français"
						? "changer la langue"
						: "change language"}
					class="text-sm h-[33px] md:h-[42px] md:text-base ease-in duration-100 transition-colors hover:cursor-pointer hover:bg-card-hover group border border-border/30 bg-card px-3 py-2 rounded-lg flex justify-between items-center gap-1">
					<Languages
						className="text-focus size-3.5 md:size-4 group-hover:text-focus-hover"
					/>
					<ChevronDown
						className="text-focus size-3.5 md:size-4 group-hover:text-focus-hover"
					/>
				</SelectTrigger>
				<SelectContent
					class={"absolute z-20 right-0 top-[calc(100%+12px)] w-max shadow-2xl px-1 py-2 gap-2 border-border border flex flex-col items-center justify-start rounded-md bg-card aria-hidden:opacity-0 aria-hidden:scale-90 aria-hidden:pointer-events-none aria-hidden:translate-y-2 aria-[hidden='false']:translate-y-0 aria-[hidden='false']:opacity-100 aria-[hidden='false']:scale-100 aria-[hidden='false']:pointer-events-auto transition-[transform_opacity] duration-300 ease-in-out"}>
					{
						languages.map((el) => (
							<SelectItem
								isDefault={currentLanguage === el.label}
								class={
									"text-sm md:text-base  rounded-md aria-selected:text-focus-hover focus:outline-none w-full hover:bg-card-hover focus:bg-card-hover hover:cursor-pointer focus:text-focus-hover hover:text-focus-hover"
								}
								value={el.label}>
								<a class="w-full block py-1 pl-2 pr-12" href={el.url}>
									{el.label}
								</a>
							</SelectItem>
						))
					}
				</SelectContent>
			</SelectRoot>
		</div>
	</div>
</header>

<script>
	import "./ui/select/define";
	import { constants } from "@/lib/utils/constants";
	import type { SelectRoot } from "./ui/select/select-root";
	import { animateChevron } from "@/lib/utils/animate-chevron";

	const selectRoot = document.querySelector("select-root") as
		| (HTMLElement & SelectRoot)
		| null;
	const chevron = selectRoot?.querySelector("select-trigger svg:last-of-type");

	if (selectRoot && chevron) {
		selectRoot.onOpenChange((isOpen) => {
			animateChevron(chevron, isOpen ? 0 : 180, isOpen ? 180 : 0);
		});
	}

	const copyButton = document.getElementById("4bslnEILZE99V1gYGe2xr");

	if (copyButton instanceof HTMLButtonElement) {
		let debounceTimer: ReturnType<typeof setTimeout> | null = null;
		const lang = window.location.pathname.includes("fr") ? "fr" : "en";

		copyButton.addEventListener("click", () => {
			if (debounceTimer) return;

			navigator.clipboard.writeText(constants.email);
			copyButton.disabled = true;

			const displayText = copyButton.querySelector("#OviQEPLyQxhBFiAN8b6IB");

			if (displayText instanceof HTMLParagraphElement === false) {
				return;
			}

			const originalText = displayText.textContent;
			displayText.textContent = lang === "fr" ? "copié!" : "copied!";

			debounceTimer = setTimeout(() => {
				displayText.textContent = originalText;
				copyButton.disabled = false;
				debounceTimer = null;
			}, 2000);
		});
	}
</script>
